<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="./static/assets/img/logo.png">
  <link rel="icon" type="image/png" href="./static/assets/img/icon.jpg">
  <title>
    Covid-19 Twitter Sentiment Analysis & Extraction
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="./static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="./static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="./static/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            🐼
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            CLOUD CHRONICLES
          </a>
        </div>
        <ul class="nav">
          <li>
            <a href="dashboard">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Public Sentiment Dashboard</p>
            </a>
          </li>
          <li class="active ">
            <a href="real_time_analysis">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Real Time Analysis Dashboard</p>
            </a>
          </li>
          <li>
            <a href="twitter_live_feed">
              <i class="tim-icons icon-atom"></i>
              <p>Twitter Live Feed & Analysis</p>
            </a>
          </li>
          <li>
            <a href="live_case_count">
              <i class="tim-icons icon-sound-wave"></i>
              <p>Live Case Count</p>
            </a>
          </li>
          <li>
            <a href="about_us">
              <i class="tim-icons icon-single-02"></i>
              <p>About Us</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Real Time Analysis</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group">
                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
                  <span class="d-lg-none d-md-block">Search</span>
                </button>
              </li>
              <li class="search-bar input-group">
                <a href="live_case_count">
                  <button class="btn btn-link"><i class="tim-icons icon-sound-wave"></i>
                  <span class="d-lg-none d-md-block">Live Case Count</span>
                  </button>
                </a>
              </li>
              <li class="search-bar input-group">
                <a href="about_us">
                  <div class="photo">
                    <img src="./static/assets/img/anime3.png" alt="Profile Photo">
                  </div>
                  <button class="btn btn-link">
                  <span class="d-lg-none d-md-block">Developers</span>
                  </button>
                </a>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-lg-12" style="height: 402px">
            <div class="card bg-dark text-white">
              <img class="card-img" src="./static/assets/img/twitter.png" alt="Card image" style="height: 450px">
              <div class="card-img-overlay">
                <h4 class="card-title text-dark" style="font-size: 22px"><b>Real-Time COVID-19 Twitter Sentiment Analysis & Extraction</b></h4>
                <br></br>
                <p class="card-text text-dark" style="font-size: 18px"><b>The Real Time Analysis Dashboard presents a visualization of the Indian twitteratis' sentiment towards </b></p>
                <p class="card-text text-dark" style="font-size: 18px"><b>the COVID-19 pandemic on a Daily Basis.</b></p>
                <p class="card-text text-dark" style="font-size: 18px"><b>This dashboard is dynamic and changes day to day representing the current sentiment trends on Twitter.</b></p>
                <p class="card-text text-dark" style="font-size: 18px"><b>This dashboard makes use of DL based NLP and Real-Time Data Extraction.</b></p>
                <p class="card-text text-dark" style="font-size: 18px"><b>Do check out the other pages and themes 🎨 for some more interesting stuff! ✌</b></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h5 class="card-category">Sentiment Analysis</h5>
                    <h2 class="card-title">Sentiment Trends</h2>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                      <label class="btn btn-sm btn-primary btn-simple active" id="0">
                        <input type="radio" name="opt" checked="checked" value="opt1"/>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Bar</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-single-02"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple" id="1">
                        <input type="radio" class="d-none d-sm-none" name="opt" value="opt2"/>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Pie</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-gift-2"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple" id="2">
                        <input type="radio" class="d-none" name="opt" value="opt3"/>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Radar</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-tap-02"></i>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body" id="opt1" style="height: 600px">
                <img class="card-img" src="./static/images/realtime/bar.png">
              </div>
              <div class="card-body" id="opt2" style="height: 600px; display: none;">
                <img class="card-img" src="./static/images/realtime/pie_chart.png">
              </div>
              <div class="card-body" id="opt3" style="height: 600px; display: none;">
                <img class="card-img" src="./static/images/realtime/radar_plot.png">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Sentiment Analysis</h5>
                <h3 class="card-title"><i class="tim-icons icon-vector"></i> Relationship Nexus</h3>
              </div>
              <div class="card-body" id="opt1" style="height: 600px">
                <img class="card-img" src="./static/images/realtime/network.png">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h5 class="card-category">Sentiment Extraction</h5>
                    <h2 class="card-title"><i class="tim-icons icon-chart-bar-32"></i> Popular Sentiment Triggers</h2>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                      <label class="btn btn-sm btn-primary btn-simple active" id="0">
                        <input type="radio" name="opt_2" checked="checked" value="opn1"/>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Positive</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-single-02"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple" id="1">
                        <input type="radio" name="opt_2" checked="checked" value="opn2"/>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Neutral</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-single-02"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple" id="2">
                        <input type="radio" class="d-none d-sm-none" name="opt_2" value="opn3"/>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Negative</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-gift-2"></i>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body" id="opn1">
                <img class="card-img" src="./static/images/realtime/wordfrequency_positive.png">
                <div class="card-body">
                  <h4 class="card-title text-center">Top 10 Words in Sentiment Extractions of Positive Sentiment Tweets</h4>
                </div>
              </div>
              <div class="card-body" id="opn2" style="display: none;">
                <img class="card-img" src="./static/images/realtime/wordfrequency_neutral.png">
                <div class="card-body">
                  <h4 class="card-title text-center">Top 10 Words in Sentiment Extractions of Neutral Sentiment Tweets</h4>
                </div>
              </div>
              <div class="card-body" id="opn3" style="display: none;">
                <img class="card-img" src="./static/images/realtime/wordfrequency_negative.png">
                <div class="card-body">
                  <h4 class="card-title text-center">Top 10 Words in Sentiment Extractions of Negative Sentiment Tweets</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h5 class="card-category">Sentiment Extraction</h5>
                    <h2 class="card-title"><i class="tim-icons icon-cloud-upload-94"></i> Word Cloud</h2>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                      <label class="btn btn-sm btn-primary btn-simple active" id="0">
                        <input type="radio" name="opt_3" checked="checked" value="ops1"/>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Positive</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-single-02"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple" id="1">
                        <input type="radio" class="d-none d-sm-none" name="opt_3" value="ops2"/>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Negative</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-gift-2"></i>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body" id="ops1">
                <img class="card-img" src="./static/images/realtime/Wordcloud_positive.png">
              </div>
              <div class="card-body" id="ops2" style="display: none;">
                <img class="card-img" src="./static/images/realtime/Wordcloud_negative.png">
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h5 class="card-category">Sentiment Extraction</h5>
                    <h2 class="card-title"><i class="tim-icons icon-vector"></i> Sentiment Triggers' Nexus</h2>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                      <label class="btn btn-sm btn-primary btn-simple" id="0">
                        <input type="radio" name="opt_4" value="o1"/>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Positive</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-single-02"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple active" id="1">
                        <input type="radio" class="d-none d-sm-none" name="opt_4" checked="checked" value="o2"/>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Negative</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-gift-2"></i>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body" id="o1" style="height: 470px; display: none;">
                <img class="card-img" src="./static/images/realtime/ext_positive.png">
              </div>
              <div class="card-body" id="o2" style="height: 470px">
                <img class="card-img" src="./static/images/realtime/ext_negative.png">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Twitter Analysis</h5>
                <h3 class="card-title"><i class="tim-icons icon-chat-33"></i> Bigram Frequency</h3>
              </div>
              <div class="card-body" id="opt1">
                <img class="card-img" src="./static/images/realtime/bigram_freq.png">
                <div class="card-body">
                  <h4 class="card-title text-center">Top 10 Bigrams Present in India COVID-19 Tweets</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="card card-chart Center" >
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    <h5 class="card-category">Plots</h5>
                    <h2 class="card-title"><i class="tim-icons icon-app"></i> Box Plots</h2>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                      <label class="btn btn-sm btn-primary btn-simple active" id="0">
                        <input type="radio" name="opt_1" checked="checked" value="op1"/>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Retweet Count</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-single-02"></i>
                        </span>
                      </label>
                      <label class="btn btn-sm btn-primary btn-simple" id="1">
                        <input type="radio" class="d-none d-sm-none" name="opt_1" value="op2"/>
                        <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sentiment</span>
                        <span class="d-block d-sm-none">
                          <i class="tim-icons icon-gift-2"></i>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body" id="op1">
                <img class="card-img" src="./static/images/realtime/retweet_count_boxplot.png">
              </div>
              <div class="card-body" id="op2" style="display: none;">
                <img class="card-img" src="./static/images/realtime/sentiment_boxplot.png">
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://www.linkedin.com/in/nikhil-varma-keetha-612685193/" class="nav-link"><i class="fab fa-linkedin"></i>
                NV
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.linkedin.com/in/kasina-jyothi-swaroop-b62259168/" class="nav-link"><i class="fab fa-linkedin"></i>
                KJS
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.linkedin.com/in/intipalli-vinay-venkata-narasimha-swamy-48846119a/" class="nav-link"><i class="fab fa-linkedin"></i>
                IV
              </a>
            </li>
            <li class="nav-item">
              <a href="https://www.linkedin.com/in/sreekar-vanga-2a83b5170/" class="nav-link"><i class="fab fa-linkedin"></i>
                SV
              </a>
            </li>
            <li class="nav-item">
              <a href="about_us" class="nav-link">
                About Us
              </a>
            </li>
          </ul>
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script> made with <i class="tim-icons icon-heart-2"></i> by
            <a href="javascript:void(0)" target="_blank">Team 🐼</a> for a better world.
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Background</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors text-center">
              <span class="badge filter badge-primary active" data-color="primary"></span>
              <span class="badge filter badge-info" data-color="blue"></span>
              <span class="badge filter badge-success" data-color="green"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line text-center color-change">
          <span class="color-label">LIGHT MODE</span>
          <span class="badge light-badge mr-2"></span>
          <span class="badge dark-badge ml-2"></span>
          <span class="color-label">DARK MODE</span>
        </li>
        <li class="button-container text-center">
          <a href="https://github.com/SmartPracticeschool/SBSPS-Challenge-2700-Twitter-Sentiment-Analysis-Extraction-for-COVID-19" class="nav-link">
          <button id="GitHub" class="btn btn-round btn-info"><i class="fab fa-github"></i> &middot; code
          </button>
          </a>
          <br>
          <br>
          <a class="github-button" href="https://github.com/SmartPracticeschool/SBSPS-Challenge-2700-Twitter-Sentiment-Analysis-Extraction-for-COVID-19" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
        </li>
      </ul>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="./static/assets/js/application.js"></script>
  <script src="./static/assets/js/core/jquery.min.js"></script>
  <script src="./static/assets/js/core/popper.min.js"></script>
  <script src="./static/assets/js/core/bootstrap.min.js"></script>
  <script src="./static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="./static/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="./static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="./static/assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="./static/assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
        // $("div.card-body").hide();
        $("input[name$='opt']").on( "change", function() {
            var test = $(this).val();
            if (test == 'opt1') {
              //  block of code to be executed if condition1 is true
              $("#opt2").hide();
              $("#opt3").hide();
            } else if (test == 'opt2') {
              //  block of code to be executed if the condition1 is false and condition2 is true
              $("#opt1").hide();
              $("#opt3").hide();
            } else {
              //  block of code to be executed if the condition1 is false and condition2 is false
              $("#opt1").hide();
              $("#opt2").hide();
            }
            $("#"+test).show();
        });
    });
  </script>
  <script>
    $(document).ready(function() {
        // $("div.card-body").hide();
        $("input[name$='opt_1']").on( "change", function() {
            var test = $(this).val();
            if (test == 'op1') {
              //  block of code to be executed if condition1 is true
              $("#op2").hide();
            } else {
              $("#op1").hide();
            }
            $("#"+test).show();
        });
    });
  </script>
  <script>
    $(document).ready(function() {
        // $("div.card-body").hide();
        $("input[name$='opt_2']").on( "change", function() {
            var test = $(this).val();
            if (test == 'opn1') {
              //  block of code to be executed if condition1 is true
              $("#opn2").hide();
              $("#opn3").hide();
            } else if (test == 'opn2') {
              //  block of code to be executed if the condition1 is false and condition2 is true
              $("#opn1").hide();
              $("#opn3").hide();
            } else {
              //  block of code to be executed if the condition1 is false and condition2 is false
              $("#opn1").hide();
              $("#opn2").hide();
            }
            $("#"+test).show();
        });
    });
  </script>
  <script>
    $(document).ready(function() {
        // $("div.card-body").hide();
        $("input[name$='opt_3']").on( "change", function() {
            var test = $(this).val();
            if (test == 'ops1') {
              //  block of code to be executed if condition1 is true
              $("#ops2").hide();
            } else {
              $("#ops1").hide();
            }
            $("#"+test).show();
        });
    });
  </script>
  <script>
    $(document).ready(function() {
        // $("div.card-body").hide();
        $("input[name$='opt_4']").on( "change", function() {
            var test = $(this).val();
            if (test == 'o1') {
              //  block of code to be executed if condition1 is true
              $("#o2").hide();
            } else {
              $("#o1").hide();
            }
            $("#"+test).show();
        });
    });
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>
</body>

</html>